<section class="exercises">
  <div class="container">
    <div class="title-filter-container">
      <h2 class="exercises-title">Exercises</h2>
      <div class="filter-container">
        <input
          type="text"
          class="exercises-filter-input"
          placeholder="Search"
        />
        <ul class="exercises-filter-list">
          <li class="exercises-filter-item">
            <button
              type="button"
              class="exercises-filter-btn active"
              data-name="Muscles"
            >
              Muscles
            </button>
          </li>
          <li class="exercises-filter-item">
            <button
              type="button"
              class="exercises-filter-btn"
              data-name="Body parts"
            >
              Body parts
            </button>
          </li>
          <li class="exercises-filter-item">
            <button
              type="button"
              class="exercises-filter-btn"
              data-name="Equipment"
            >
              Equipment
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="exercises-list-container">
      <ul class="excercises-categories-list"></ul>
    </div>
  </div>
</section>
