<section class="exercises-section container" id="exercises-section">
  <div class="exercises-content">
    <div class="exercises-sidebar">
      <div class="sidebar-quote-wrapper border-radius">
        <div class="icon-wrapper">
          <svg class="icon quote-men" width="18" height="20">
            <use href="./img/sprite.svg#men"></use>
          </svg>
        </div>
        <div class="sidebar-quote-text">
          <p class="sidebar-quote-title">Quote of the day</p>
          <p class="sidebar-quote overflow-kit">A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.</p>
          <p class="sidebar-quote-author">Name</p>
        </div>
        <svg class="icon inverted-commas" width="20" height="20">
          <use href="./img/sprite.svg#inverted-commas"></use>
        </svg>
      </div>
      <picture>
        <img class="quote-image border-radius" src="" alt="girls" width="335" height="242" loading="lazy">
      </picture>
      <div class="sidebar-suggestion-wrapper border-radius">
        <div class="icon-wrapper-dumbbell">
          <svg class="icon suggestion-dumbbell" width="20" height="20">
            <use href="./img/sprite.svg#dumbbell"></use>
          </svg>
        </div>
        <div class="sidebar-suggestion-text">
          <p class="sidebar-suggestion-title">110 min</p>
          <p class="sidebar-suggestion">Daily norm of sports</p>
          <p class="sidebar-suggestion-info overflow-kit">The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? While it might seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer unparalleled benefits to physical health, mental well-being, and overall quality of life.</p>
        </div>
      </div>
    </div>
  </div>
</section>