<header class="header" id="home">
  <load src="/partials/mobilemenu.html" />
  <div class="header-container container">
    <a
      href="index.html"
      class="header-logo"
      title="Перейти на головну сторінку"
    >
      <svg class="logo">
        <use href="./img/sprite.svg#icon-your-energy"></use>
      </svg>
    </a>
    <nav class="header-nav font-nav-link">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a
            class="header-nav-link"
            aria-label="link to home page"
            href="./index.html"
            >Home</a
          >
        </li>
        <li class="header-nav-item">
          <a
            class="header-nav-link"
            aria-label="link to favorites page"
            href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
      <button
        class="mobile-menu-btn js-open-menu"
        aria-label="Open mobile menu"
      >
        <svg class="mobile-menu-icon" width="24" height="24">
          <use href="./img/sprite.svg#burger"></use>
        </svg>
      </button>
    </nav>
    <ul class="socials header-socials">
      <li>
        <a
          class="btn-socials on-white"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Facebook"
        >
          <svg class="socials-icon" width="28" height="28">
            <use class="no-hover" href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="btn-socials on-white"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Instagram"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="btn-socials on-white"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Youtube"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
