<section class="section hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-content-text">
        <div class="hero-title">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="38"
            height="38"
            fill="none"
            class="sun-icon"
          >
            <use href="./img/sprite.svg#sun-icon"></use>
          </svg>
          <h1>
            Get <span class="italic">Body</span> in<br />
            shape, Stay healthy
          </h1>
        </div>
        <p>
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-tags-desktop-wrapper">
        <img
          src="/img/hero/hero-mobile.jpg"
          srcset="/img/hero/hero-2.jpg 1x, /img/hero/hero-2@2x.jpg 2x"
          title="Women work out outdoors"
          alt="Women work out outdoors"
        />
        <ul class="hero-tags-desktop">
          <li class="hero-tag">#Sport</li>
          <li class="hero-tag">#Healthy</li>
          <li class="hero-tag">#Workout</li>
          <li class="hero-tag">#Diet</li>
        </ul>
      </div>
    </div>
    <div class="hero-image">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="
            /img/hero/hero-desktop1.jpg    1x,
            /img/hero/hero-desktop1@2x.jpg 2x
          "
        />
        <source
          media="(min-width:760px)"
          srcset="
            /img/hero/hero-tablet1.jpg    1x,
            /img/hero/hero-tablet1@2x.jpg 2x
          "
        />
        <img
          src="/img/hero/hero-mobile.jpg"
          srcset="
            /img/hero/hero-mobile.jpg     1x,
            /img/hero/hero-mobile1@2x.jpg 2x
          "
          title="Young women are doing work out together"
          alt="Young women are doing work out together"
        />
      </picture>
    </div>
    <ul class="hero-tags">
      <li class="hero-tag">#Sport</li>
      <li class="hero-tag">#Healthy</li>
      <li class="hero-tag">#Workout</li>
      <li class="hero-tag">#Diet</li>
    </ul>
  </div>
</section>
