<div class="pagination-container" hidden>
  <!-- Arrows START -->
  <ul class="pagination-arrows">
    <li class="js-arrow">
      <button type="button" class="pagination-arrow" data-element="to-begin">
        <svg width="20" height="20">
          <use href="./img/sprite.svg#icon-arrow-double-left"></use>
        </svg>
      </button>
    </li>
    <li class="js-arrow">
      <button type="button" class="pagination-arrow" data-element="to-previous">
        <svg width="20" height="20">
          <use href="./img/sprite.svg#icon-arrow-single-left"></use>
        </svg>
      </button>
    </li>
  </ul>
  <!-- Pages -->
  <ul class="pagination-pages" data-element="pages-list"></ul>
  <!-- Arrows END -->
  <ul class="pagination-arrows" data-element="arrows-end">
    <li class="js-arrow">
      <button type="button" class="pagination-arrow" data-element="to-next">
        <svg width="20" height="20">
          <use href="./img/sprite.svg#icon-arrow-single-right"></use>
        </svg>
      </button>
    </li>
    <li class="js-arrow">
      <button type="button" class="pagination-arrow" data-element="to-end">
        <svg width="20" height="20">
          <use href="./img/sprite.svg#icon-arrow-double-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
