  <div class="container exercises-container">
    <div class="exercises-content">
      <div class="exercises-sidebar">
        <div class="sidebar-quote-wrapper border-radius">
          <svg></svg>
          <div class="sidebar-quote-text">
            <p class="sidebar-quote-title">Quote of the day</p>
            <p class="sidebar-quote">Bla bla bla</p>
            <p class="sidebar-quote-author">Name</p>
          </div>

        </div>
        <picture src=""></picture>
        <div class="sidebar-suggestion">

        </div>
      </div>
    </div>
  </div>
