:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: var(--color-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -text-size-adjust: 100%;

  --color-background: rgba(244, 244, 244, 1);

  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-60: rgba(244, 244, 244, 0.6);
  --color-white-20: rgba(244, 244, 244, 0.2);

  --color-light-grey: rgba(212, 212, 212, 1);

  --color-black-100: rgba(36, 36, 36, 1);
  --color-black-80: rgba(36, 36, 36, 0.8);
  --color-black-60: rgba(36, 36, 36, 0.6);
  --color-black-50: rgba(36, 36, 36, 0.5);
  --color-black-10: rgba(36, 36, 36, 0.1);
  --color-black: #242424;

  --color-yellow: rgba(238, 161, 12, 1);

  --color-gray: #f4f4f4;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
