.filtered-exercises-list-container {
  background-color: red;

}

.filtered-exercises-categories-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 16px;
}

.filtered-exercises-categories-list-item {
  display: flex;
  flex-wrap: wrap;
  font: inherit;
  width: 442px;
  height: 141px;
  background-color: green;
  gap: 10px;
}

.hidden {
  display: none;
}

.start-button {
  width: 100px;
  height: 20px;
}