.workout {
  text-transform: uppercase;
  border: 1px solid var(--color-black-100);
  border-radius: 20px;
  padding: 5px 8px;
}
.filtered-exercises-categories-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 16px;
}

.filtered-exercises-raiting-container {
  display: flex;
  gap: 25px;
}

.filtered-exercises-categories-raiting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.filtered-exercises-categories-list-item {
  display: flex;
  flex-wrap: wrap;
  width: 335px;
  min-height: 141px;
  background-color: var(--color-white-100);
  border-radius: 15px;
  gap: 10px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}

.filtered-categories-content-top {
  display: flex;
}

.filtered-categories-content-title {
  display: flex;
  overflow: hidden;
  gap: 16px;
  margin-bottom: 16px;
}

.filtered-categories-content-title h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
}

.filtered-categories-content-info {
  display: flex;
}

.filtered-categories-content-info span {
  color: var(--color-black-50);
  margin-right: 4px;
}

.filtered-categories-content-info p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.filtered-categories-icon {
  flex: 0 0 24px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background-color: var(--color-black-100);
  fill: var(--color-gray);
  border-radius: 50%;
  padding: 4px;
}

.hidden {
  display: none;
}

.start-button {
  display: flex;
  align-items: center;
  gap: 9px;
}

.start-button svg {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .filtered-exercises-categories-list {
    justify-content: center;
  }

  .filtered-categories-content-title h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .filtered-exercises-categories-list-item {
    width: 442px;
  }

  .filtered-categories-content-title h3 {
    font-size: 24px;
    max-width: 355px;
  }

  .filtered-categories-content-info {
    gap: 16px;
  }

  .filtered-categories-content-info p {
    max-width: 120px;
  }
}
