.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

body:has(.modal-backdrop.is-open) {
  overflow: hidden;
  height: 100%;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-backdrop.is-open .modal {
  transform: translateX(0%);
}

.modal {
  position: fixed;
  width: 90vw;
  max-width: 335px;
  max-height: 90vh;
  background-color: var(--color-black-100);
  border-radius: 20px;
  padding: 40px 20px 40px 20px;
  z-index: 1000;
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  overflow: hidden;
}

.modal.is-open {
  display: flex;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
  stroke-width: 1;
  border: none;
  stroke: var(--color-background);
  background-color: transparent;
  fill: var(--color-background);
  cursor: pointer;
  z-index: 1001;
}

.modal-close .modal-close-icon {
  fill: var(--color-background);
  width: 24px;
  height: 24px;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
  gap: 32px;
}

.modal-image {
  position: relative;
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 258px;
}

.modal-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
}

.modal-content {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.modal-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-rating span {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-yellow);
}

.modal-rating[data-rate='1'] .rate-icon:nth-child(-n + 1),
.modal-rating[data-rate='2'] .rate-icon:nth-child(-n + 2),
.modal-rating[data-rate='3'] .rate-icon:nth-child(-n + 3),
.modal-rating[data-rate='4'] .rate-icon:nth-child(-n + 4),
.modal-rating[data-rate='5'] .rate-icon:nth-child(-n + 5) {
  fill: var(--color-yellow);
  stroke: var(--color-yellow);
}

.stars {
  display: flex;
  gap: 4px;
}

.rate-icon {
  display: block;
  fill: var(--color-white-20);
}

.modal-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.modal-details p {
  margin: 0;
  line-height: 1.4;
  text-align: left;
  font-weight: 500;
}

.modal-details p strong {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-white-60);
}

.modal-description {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-white-60);
}

.modal-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
  margin-top: auto;
}

.modal-favorite,
.modal-rating-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  min-height: 48px;
  box-sizing: border-box;
  width: 100%;
}

.modal-favorite {
  background-color: var(--color-background);
  color: var(--color-black-100);
}

.modal-favorite .heart-icon {
  width: 16px;
  height: 16px;
  fill: var(--color-background);
  stroke: var(--color-black-100);
}

.modal-favorite:hover {
  background-color: var(--color-black-100);
  color: var(--color-background);
  border: 1px solid var(--color-background);
}

.modal-favorite:hover .heart-icon {
  fill: none;
  stroke: var(--color-background);
}

.modal-rating-button {
  background-color: transparent;
  color: var(--color-background);
  border: 1px solid var(--color-background);
}

.modal-rating-button:hover {
  background-color: var(--color-background);
  color: var(--color-black-100);
}

.modal-details::before,
.modal-details:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-white-60);
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .modal-backdrop {
    overflow-x: hidden;
  }

  .modal {
    max-width: 704px;
    padding: 32px;
    height: auto;
    overflow: hidden;
    width: 100%;
  }

  .modal-inner {
    flex-direction: row;
    gap: 20px;
  }

  .modal-footer {
    margin-top: 40px;
  }

  .modal-image {
    width: 270px;
    height: 259px;
    flex: 0 0 auto;
  }

  .modal-content {
    flex: 1 1 auto;
  }

  .modal-details {
    gap: 16px;
  }

  .modal-details p {
    flex: 1 1 calc(25% - 20px);
    margin: 0;
    text-align: left;
    white-space: nowrap;
    font-weight: 500;
  }

  .modal-description {
    margin-bottom: 0;
  }

  .modal-footer {
    flex-direction: row;
    margin-top: 64px;
  }

  .modal-favorite,
  .modal-rating-button {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    line-height: 24px;
    flex: 1 1 auto;
    max-width: 242px;
    box-sizing: border-box;
    min-height: 48px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .modal {
    width: 60vw;
    max-width: 708px;
    height: auto;
    margin: 0 auto;
  }

  .modal-inner {
    margin: 0 auto;
  }
}
