section.favorites {
  padding-top: 80px;
}

.favorites-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}

.favorites-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorites-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: flex-start;
}

.favorites-sidebar-suggestion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorites.sidebar-suggestion-wrapper {
  display: block;
}

.favorites-exercises-categories-list-item {
  display: flex;
  flex-wrap: wrap;
  width: 335px;
  min-height: 141px;
  background-color: var(--color-white-100);
  border-radius: 15px;
  gap: 10px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorites.quote-image {
  height: 119px;
}

.favorites.icon-wrapper-dumbbell {
  width: 20px;
  height: 20px;
  background-color: var(--color-white-100);
  margin-bottom: 15px;
}

.favorites.suggestion-dumbbell {
  fill: var(--color-black-100);
}

.favorites.sidebar-suggestion {
  margin-bottom: 0;
}

.favorites.sidebar-suggestion-title {
  margin-bottom: 6px;
}

.favorites-added-exercises {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.favorites-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.favorites-header-remove {
  display: flex;
  gap: 10px;
}

.remove-icon {
  display: block;
  stroke: var(--color-black-100);
}

.icon-arrow {
  stroke: var(--color-black-100);
}

@media only screen and (min-width: 768px) {
  section.favorites {
    padding-top: 100px;
  }

  .favorites-title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.88px;
  }

  .favorites-container {
    flex-grow: 1;
  }

  .favorites-sidebar-suggestion {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .favorites-exercises-categories-list-item {
    width: 344px;
  }

  .favorites-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
  }

  .favorites-content {
    flex-direction: column;
    gap: 64px;
  }

  .favorites-sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
  }

  .favorites.sidebar-suggestion-wrapper,
  .favorites.quote-image {
    width: 344px;
    height: 141px;
  }

  .favorites.sidebar-suggestion-wrapper {
    padding: 25px;
  }

  .favorites.sidebar-quote-wrapper {
    flex-grow: 1;
    max-width: 100%;
    padding: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  section.favorites {
    padding-bottom: 64px;
  }

  .favorites-content {
    flex-direction: row;
    gap: 32px;
  }

  .favorites-exercises-categories-list-item {
    width: 405px;
  }

  .favorites-sidebar {
    row-gap: 16px;
    width: 494px;
  }

  .favorites.sidebar-suggestion-wrapper,
  .favorites.quote-image {
    width: 239px;
  }

  .favorites-list.filtered-exercises-categories-list-item {
    width: 405px;
  }

  .favorites-list {
    display: flex;
  }

  .exercise-card {
    width: 405px;
  }

  .favorites.filtered-categories-content-title {
    overflow: hidden;
  }

  .favorites.filtered-categories-content-info p {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }

  .favorites.filtered-categories-content-title h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 318px;
    overflow: hidden;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
  }
}

/* Стилі для повідомлення про відсутність вправ */
.no-favorites-message {
  display: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25rem;
  color: #333;
  /* Основний колір тексту */
  text-align: center;
  margin: 20px auto;
  /* Відступи згори та знизу */
  max-width: 600px;
  /* Максимальна ширина для тексту */
  line-height: 1.6;
  /* Висота рядка для кращої читабельності */
}

.no-favorites-message.hidden {
  visibility: hidden;
}

.favorites-pagination {
  padding-bottom: 80px;
}

@media screen and (min-width: 767px) {
  .favorites-added-exercises {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .favorites-added-exercises {
    max-height: 472px;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: flex-start;
    padding-right: 10px;
    align-items: center;
  }
}

.favorites-added-exercises::-webkit-scrollbar {
  width: 8px;
}

.favorites-added-exercises::-webkit-scrollbar-track {
  background: rgba(36, 36, 36, 0.1);
  border-radius: 12px;
}

.favorites-added-exercises::-webkit-scrollbar-thumb {
  background: rgba(36, 36, 36, 1);
  border-radius: 12px;
}

@keyframes blackHole {
  0% {
    transform: scale(1);
    opacity: 1;
    border-radius: 0%;
  }

  10% {
    transform: scale(0.9) translate(-2px, 2px) rotate(5deg);
    opacity: 0.9;
    border-radius: 10%;
  }

  20% {
    transform: scale(0.8) translate(-4px, 4px) rotate(10deg);
    opacity: 0.8;
    border-radius: 20%;
  }

  30% {
    transform: scale(0.7) translate(-6px, 6px) rotate(15deg);
    opacity: 0.7;
    border-radius: 30%;
  }

  40% {
    transform: scale(0.6) translate(-8px, 8px) rotate(20deg);
    opacity: 0.6;
    border-radius: 40%;
  }

  50% {
    transform: scale(0.5) translate(-10px, 10px) rotate(25deg);
    opacity: 0.5;
    border-radius: 50%;
  }

  60% {
    transform: scale(0.4) translate(-12px, 12px) rotate(30deg);
    opacity: 0.4;
    border-radius: 60%;
  }

  70% {
    transform: scale(0.3) translate(-14px, 14px) rotate(35deg);
    opacity: 0.3;
    border-radius: 70%;
  }

  80% {
    transform: scale(0.2) translate(-16px, 16px) rotate(40deg);
    opacity: 0.2;
    border-radius: 80%;
  }

  90% {
    transform: scale(0.1) translate(-18px, 18px) rotate(45deg);
    opacity: 0.1;
    border-radius: 90%;
  }

  100% {
    transform: scale(0) translate(-20px, 20px) rotate(50deg);
    opacity: 0;
    border-radius: 100%;
  }
}

.animate-remove {
  animation: blackHole 1s ease forwards;
}

/* Стилі для повідомлення про відсутність вправ */

.no-favorites-message {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

@media screen and (min-width: 767px) {
  .no-favorites-message {
    max-width: 554px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    padding-top: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .no-favorites-message {
    padding-top: 114px;
  }

  .favorites-pagination {
    display: none;
  }
}
