.footer {
  background-color: var(--color-black-100);
  color: var(--color-background);
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer-content-holder .social-media-links {
  margin-bottom: 0;
}

.logo {
  width: 132px;
  height: 24px;
  display: inline-block;
}

.footer .logo {
  fill: currentColor;
  margin-bottom: 20px;
}

.footer-content-holder {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  grid-template-areas:
    'logo'
    'title'
    'form';
  margin-bottom: 120px;
}

.footer .logo-section {
  grid-area: logo;
  margin-bottom: 40px;
}

.footer-title {
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  grid-area: title;
  margin-bottom: 20px;
}

.footer-title span {
  font-style: italic;
}

.subscription-form-holder {
  grid-area: form;
}

.subscription-form-holder h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscription-form input {
  padding: 12px 14px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid var(--color-background);
  color: var(--color-background);
}

.subscription-form input::placeholder {
  color: rgba(244, 244, 244, 0.6);
}

.subscription-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-black-100);
  border-radius: 30px;
  padding: 12px 14px;
}

.privacy-policy {
  color: rgba(198, 205, 209, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  row-gap: 10px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 64px;
  }

  .footer-subscription-text {
    font-size: 18px;
    line-height: 24px;
  }

  .footer .logo {
    margin-bottom: 32px;
  }

  .footer .logo-section {
    margin-bottom: 0;
  }

  .footer-content-holder {
    grid-template-columns: 156px 400px;
    grid-template-areas:
      'logo title'
      'x form';
    margin-bottom: 64px;
  }

  .footer-title {
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.02em;
  }

  .subscription-form-holder {
    width: 298px;
  }

  .privacy-policy {
    justify-content: flex-start;
  }

  .privacy-policy li:nth-child(1) {
    flex-basis: 305px;
  }

  .privacy-policy li:nth-child(2) {
    flex-basis: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-content-holder {
    grid-template-columns: 1fr 158px 1fr 115px 1fr;;
    grid-template-areas: 'logo . title . form';
    gap: 0;
    margin-bottom: 70px;
  }

  .footer-title {
    min-width: 595px;
    margin-bottom: 0;
  }

  .footer-subscription-text {
    font-size: 18px;
  }
  .privacy-policy {
    justify-content: flex-start;
  }

  .privacy-policy li:nth-child(1) {
    flex-basis: 370px;
  }

  .privacy-policy li:nth-child(2) {
    flex-basis: 715px;
  }
}
