.header {
  position: relative;
  padding: 20px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    justify-content: center;
  }
}

.header-logo {
  width: 132px;
  height: 24px;
}

.header-nav-list {
  display: none;
}

.header-nav-item {
  color: white;
}

@media only screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 34px;
    padding-right: 46px;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-nav-item.active {
    background-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 30px;
    color: black;
  }
}

@media only screen and (min-width: 1440px) {
  .header-nav-list {
    padding-left: 50px;
    padding-right: 62px;
  }
}

.header-nav-link {
  position: relative;
  display: block;
  transition: 200ms ease-in;
}
.header-nav-link:active {
  background-color: white;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-icon {
  width: 40px;
  height: auto;
}

@media only screen and (max-width: 375px) {
  .mobile-menu-icon {
    width: 32px;
    height: auto;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .mobile-menu-btn {
    top: 20px;
    right: 20px;
    min-width: 40px;
    min-height: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.header-socials {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }
}

.socials-icon {
  display: block;
}

.socials-link {
  fill: var(--color-black-100);
}

.btn-socials.on-white:hover .socials-icon use {
  fill: var(--color-white-100);
}
