.header {
  position: relative;
  padding-top: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.header-logo {
  width: 132px;
  height: 24px;
}

.header-nav-list {
  display: none;
}

.header-nav-link {
  position: relative;
  display: block;
  transition: 200ms ease-in;
}
.header-nav-link:active {
  background-color: var(--color-background);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-icon {
  width: 32px;
  height: 32px;
}

.header-socials {
  display: none;
}

.socials-icon {
  display: block;
}

.socials-link {
  fill: var(--color-black-100);
}

.btn-socials.on-white:hover .socials-icon use {
  fill: var(--color-white-100);
}

@media only screen and (max-width: 375px) {
  .mobile-menu-icon {
    width: 32px;
    width: 32px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .mobile-menu-btn {
    top: 20px;
    right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
  }

  .header-nav {
    justify-content: center;
  }

  .header-nav-list {
    min-height: 52px;
    min-width: 233px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    background-color: var(--color-black-100);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .header-nav-item {
    background-color: transparent;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 30px;
    color: var(--color-background);
    min-height: 36px;
    display: flex;
    align-items: center;
  }

  .header-nav-item.active {
    background-color: var(--color-background);
    color: var(--color-black-100);
  }

  .mobile-menu-btn {
    display: none;
  }

  .header-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-nav-list {
    min-width: 265px;
    padding-left: 56px;
    padding-right: 56px;
  }
}
