.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-100);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

body:has(.menu-backdrop.is-open) {
  overflow: hidden;
  height: 100%;
}

.menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.menu-backdrop.is-open .mob-menu {
  transform: translateX(0%);
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-black-100);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 300;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  stroke-width: 1;
  border: none;
  stroke: var(--color-background);
  background-color: transparent;
  fill: var(--color-background);

  cursor: pointer;
  z-index: 400;
}

.js-close-menu svg {
  width: 32px;
  height: 32px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.menu-container-list {
  padding-top: 248px;
  list-style: none;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.menu-container-item {
  color: var(--color-white-80);
}

.menu-container-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.social-media-links {
  margin-bottom: 20px;
}

.social-container-item {
  min-width: 42px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white-100);
  border: 1px solid var(--color-white-20);
  border-radius: 10px;
}

.socials-link {
  fill: var(--color-white-100);
}

.mobile-menu-icon {
  display: inline-block;
  stroke-width: 1;
  stroke: var(--color-black-100);
  fill: var(--color-black-100);
}

@media only screen and (min-width: 768px) {
  .social-container-item {
    min-width: 44px;
    min-height: 44px;
  }
}
