/* Reset CSS */

button {
  /* inherit font & color from ancestor */
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  background: transparent;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
